Django==1.4.1
Fabric==1.4.3
MySQL-python==1.2.3
South==0.7.5
boto==2.5.2
dj-database-url==0.2.1
django-bootstrap-static-files==2.0.3
django-clean==0.1.2
django-debug-toolbar==0.9.4
django-registration==0.8
django-storages==1.1.4
gunicorn==0.14.5
icalendar==3.2
ipdb==0.6.1
ipython==0.13
pycrypto==2.6
pytz==2012c
raven==3.1.9
requests==2.20.0
ssh==1.7.14
tldextract==1.1
wsgiref==0.1.2
