<div class='pager'>
    <ul>
        <li {% if not presentations.has_previous %}class='disabled'{% endif %}>
            {% if presentations.has_previous %}
                <a href='?page={{ presentations.previous_page_number }}' class='previous'>
                    <i class="icon-chevron-left"></i>
                    Previous
                </a>
            {% else %}
                <a href='#' class='previous'>
                    <i class="icon-chevron-left"></i>
                    Previous
                </a>
            {% endif %}
            </a>
        </li>
        <li {% if not presentations.has_next %}class='disabled'{% endif %}>
            {% if presentations.has_next %}
                <a href='?page={{ presentations.next_page_number }}' class='next'>
                    Next
                    <i class="icon-chevron-right"></i>
                </a>
            {% else %}
                <a href='#' class='next'>
                    Next
                    <i class="icon-chevron-right"></i>
                </a>
            {% endif %}
        </li>
    </ul>
</div>
