<div class='span1'>
    {% if presentation.twitter_handle %}
        <img src='https://api.twitter.com/1/users/profile_image?screen_name={{ presentation.twitter_handle }}&size=bigger' class='avatar'>
    {% else %}
        <img src='{{ static_url }}/images/no-avatar.jpg' class='avatar'>
    {% endif %}
</div>

<div class='span5`'>
    <div class='row'>
        <div class='span5'>
            <h4>{{ presentation.title }}</h4>
        </div>
    </div>
    <div class='row'>
        <div class='span5'>
            <small>{{ presentation.date_added|date:'F j, Y'}}</small>
        </div>
    </div>
</div>
