{% extends 'full_base.html' %}

{% block container %}

    {% for presentation in presentations %}
    <div class='row presentation presentation-bucket'>
        <div class='span7'>
            {{ presentation.embed_code|safe }}
        </div>
        <div class='span4'>
            <h2>{{ presentation.get_oembed.author_name }}</h2>
            <div>
                <a href='{{ presentation.get_oembed.author_url }}'>More presentations by...</a>
            </div>
        </div>
    </div>
    {% endfor %}



    <div class='row'>
        <div class="pagination">
            <span class="step-links">
                {% if presentations.has_previous %}
                    <a href="?page={{ presentations.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ presentations.number }} of {{ presentations.paginator.num_pages }}.
                </span>

                {% if presentations.has_next %}
                    <a href="?page={{ presentations.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>


{% endblock container %}
