{% extends 'full_base.html' %}

{% block container %}

    {% include 'presentations/_pagination_controller.html' %}
    
    {% for presentation in presentations %}
    <div class='row presentation presentation-bucket'>
        <div class='span7'>
            {{ presentation.embed_code|safe }}
        </div>
        <div class='span4'>
            <h2>{{ presentation.get_oembed.author_name }}</h2>
            <div>
                <a href='{{ presentation.get_oembed.author_url }}'>More presentations by {{ presentation.get_oembed.author_name }}...</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include 'presentations/_pagination_controller.html' %}
</div>


{% endblock container %}
