<div id='top-bar' class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a id="home-logo" href='{% url home %}' class="invisible">
            <img src='{{ STATIC_URL }}images/logos/logo-small.png'>
        </a>
        <ul class="nav">
          <li><a href="#nav-next-meetup">Next Meetup</a></li>
          <li><a href="#nav-presentations">Presentations</a></li>
          <li><a href="#nav-careers">Careers</a></li>
        </ul>
    </div>
  </div>
</div>
