<!DOCTYPE html>
<html>

    <head>
    {% block head%}
        <title>{% block title %}Django Toronto Meetup{% endblock title %}</title>

        {% block css %}
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" />
        {% endblock css %}

        {% block javascript %}
        <script src='{{ STATIC_URL }}js/jquery.min.js'></script>
        {% endblock javascript %}
    {% endblock head%}
    </head>

    <body>
    {% block body %}
        {% block navigation %}
            <div id='top-bar' class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                      <li><a href="#nav-next-meetup">Next Meetup</a></li>
                      <li><a href="#nav-presentations">Presentations</a></li>
                      <li><a href="#nav-careers">Careers</a></li>
                      <li><a href="#sign-up">Signup</a></li>
                      <a href="#login" class='btn btn-primary'>Login</a>
                    </ul>
                </div>
              </div>
            </div>
        {% endblock navigation %}
    {% endblock body %}

    {% block js_app %}
    {% endblock js_app %}
    </body>

</html> 
