{% extends 'base.html' %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='{{ STATIC_URL }}js/gmaps.js'></script>
{% endblock javascript %}


{% block body %}
    {{ block.super }}
    <div class='hero'></div>

    <div id='main-content' class='container'>

        <div id='nav-next-meetup' class='row section'>
            <div class="span3">
                <h2>Next Meetup</h2>
                <a href='{% url events-list %}'>See a list of all events...</a>
            </div>
            <div class="span9">
                {% if next_event %}
                    <h1>{{ next_event.location.name }}</h1>
                    <h3>{{ next_event.date|date:"l F d, Y @ h:i A" }}</h3>
                    <div class='row next-event-address-info'>
                        <div class='span6'>
                            <div class='popin'>
                                <div id='next-event-map' width='300' height='200'></div>
                            </div>
                        </div>
                        <div class='span3'>
                            <h4>Address</h4>
                            {{ next_event.location.address|linebreaks }}
                        </div>
                    </div>
                    <div class='row'>
                        
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <i class='icon-exclamation-sign'></i> There is no future event planned. Contact us if you are interested in hosting an event.
                    </div>
                {% endif %}
            </div>
        </div>

        <div id='nav-presentations' class='row section'>
            <div class="span3">
                <h2>Latest Presentations</h2>
                <a href='{% url presentations-list %}'>See all presentations...</a>
            </div>
            <div class="span9">
                {% for presentation in latest_presentations %}
                <div class='row presentation'>
                    <div class='span5'>
                        {{ presentation.embed_code|safe }}
                    </div>
                    <div class='span4'>
                        User info
                    </div>
                </div>
                {% empty %}
                    <div class="alert alert-info">
                        <i class='icon-info-sign '></i> There are currently no presentations. Why don't you submit one?
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id='nav-careers' class='row section'>
            <div class="span3">
                <h2>Careers</h2>
            </div>
            <div class="span9">
            </div>
        </div>
    </div>
{% endblock body %}


{% block js_app %}
<script type='text/javascript'>
    var map = new GMaps({
        div: '#next-event-map',
        lat: -12.043333,
        lng: -77.028333
    });
</script>
{% endblock js_app %}
