{% extends 'base.html' %}
{% load google_calendar %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='{{ STATIC_URL }}js/gmaps.js'></script>
{% endblock javascript %}


{% block body %}
    {{ block.super }}
    <div class='hero'>
        <img id='main-logo' src='{{ STATIC_URL }}images/logos/logo-inverted.png'>
    </div>

    <div id='main-content' class='container'>

        <div id='nav-next-meetup' class='row section'>
            <div class="span3">
                <h1>Next Meetup</h1>
                <a href='{% url events-list %}'>See a list of all events...</a>
            </div>
            <div class="span9">
                {% if next_event %}
                    <h2>{{ next_event.location.name }}</h2>
                    <h3 class='sub'>{{ next_event.date|date:"l F d, Y @ h:i A" }}</h3>
                    <div class='row next-event-address-info'>
                        <div class='span6'>
                            <div class='popin'>
                                <div id='next-event-map' width='300' height='200'></div>
                            </div>
                        </div>
                        <div class='span3'>
                            <h4>Address</h4>
                            {{ next_event.location.address|linebreaks }}

                            <h4>Add to calendar</h4>
                            <ul class='add-to-calendar-list'>
                                <li class='google-calendar'>
                                    <a href="{% create_google_calendar_url next_event %}" title="Add to Google Calendar">Google</a>
                                </li>
                                {% if next_event.plancast_id %}
                                    <li class="plancast">
                                        <a href="http://plancast.com/p/{{ next_event.plancast_id }}/" title="View on Plancast">Plancast</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <i class='icon-exclamation-sign'></i> There is no future event planned. <a href='{% url contact_us %}'>Contact us</a> if you are interested in hosting an event.
                    </div>
                {% endif %}
            </div>
        </div>

        <div id='nav-presentations' class='row section'>
            <div class="span3">
                <h1>Latest Presentations</h1>
                <a href='{% url presentations-list %}'>See all presentations...</a>
            </div>
            <div class="span9">
                {% for presentation in latest_presentations %}
                <div class='row presentation'>
                    <div class='span5'>
                        {{ presentation.embed_code|safe }}
                    </div>
                    <div class='span4'>
                        <h3>{{ presentation.get_oembed.title }}</h3>
                        <p>by {{ presentation.get_oembed.author_name }}</p>
                        <div class='row'>
                            <div class='span4'>
                                <a href='{{ presentation.url }}'><i class="icon-globe"></i> Link to this presentation</a>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='span4'>
                                <a href='{{ presentation.get_oembed.author_url }}'><i class="icon-th-list"></i> More presentations by {{ presentation.get_oembed.author_name }}...</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="alert alert-info">
                        <i class='icon-info-sign '></i> There are currently no presentations. Why don't you submit one?
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id='nav-careers' class='row section'>
            <div class="span3">
                <h1>Careers</h1>
            </div>
            <div class="span9">
                <div class="alert alert-block">
                    <h3>Coming soon.</h3>
                    Do you do Django/Python development? Do you need developers? <a href='{% url contact_us %}'>Contact us</a> to see how you can post your job here!
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block js_app %}
<script type='text/javascript'>
    var map = new GMaps({
        div: '#next-event-map',
        lat: '{{ next_event.location.latitude }}',
        lng: '{{ next_event.location.longitude }}',
        zoom: 17
    });

    map.addMarker({
        lat: '{{ next_event.location.latitude }}',
        lng: '{{ next_event.location.longitude }}',
        title: '{{ next_event.location.name }}',
    });
</script>
{% endblock js_app %}
