{% extends 'pages/base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}pages/css/homepage.css" type="text/css" />
{% endblock %}


{% block hero %}
    <div class='container'>
        <div class='boxed-inner hero'>
            <h2>Sign up for the newsletter.</h2>
            <span>Receive event reminders and news about the Django Toronto meetup.</span>
        </div>
    </div>
{% endblock %}


{% block main_content %}
    <h1>Next Event</h1>
{% endblock %}
