{% extends 'pages/base.html' %}

{% load webdesign %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}pages/css/homepage.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pages/css/mailchimp-signup.css" type="text/css" />
{% endblock %}

{% block js-libs %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='{{ STATIC_URL }}js/gmaps.js'></script>
{% endblock %}

{% block javascript %}
    <script type='text/javascript'>
        var map = new GMaps({
            div: '#next-event-map',
            lat: '{{ next_event.location.latitude }}',
            lng: '{{ next_event.location.longitude }}',
            zoom: 15,
            zoomControlOpt: {
                style: 'DEFAULT',
                position: 'TOP_RIGHT'
            }
        });

        map.addMarker({
            lat: '{{ next_event.location.latitude }}',
            lng: '{{ next_event.location.longitude }}',
            title: '{{ next_event.location.name }}',
        });
    </script>

    <script type='text/javascript'>
        $( document ).ready(function() {
            $(window).scroll(function(){
                if ($(this).scrollTop() > 20) {
                    $('#logo').fadeOut('slow');
                } else {
                    $('#logo').fadeIn('slow');
                }
            });
        });
    </script>
{% endblock %}


{% block hero %}
    <div class='container'>
        <div id='hero'>
            <img id='logo' src='{{ STATIC_URL }}images/logos/logo-inverted.png'>
        </div>
    </div>
{% endblock %}


{% block main_content %}
    <div id='newsletter-signup' class='row buffer'>
        <div class='container'>
            <div class='row'>
                <div class='span12'>
                    <span class='section-header'>Sign up for the Django Toronto newsletter.</span>
                </div>
            </div>
            <div class='row'>
                <div class='span8 offset2'>
                    <p class='info'>
                        Sign up for the Django Toronto newsletter to receive announcements about meetups and
                        venues as well as a reminder before each event.
                    </p>
                </div>
            </div>
            <div class='row'>
                <form action="http://djangotoronto.us6.list-manage1.com/subscribe/post?u={{ mailchimp_inline_subscribe_token }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder='Enter your email...'>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                </form>
            </div>
        </div>
    </div>

    <div id='upcoming-event' class='row section'>
        <div class='container'>
            <div class='row'>
                <h2 class='span12'>{{ next_event.location.name }}</h2>
            </div>
            <div class='row'>
                <div class='span5'>
                    {% lorem 1 p %}
                </div>
                <div id='venue' class='span3'>
                    <address>
                        {{ next_event.location.address|linebreaksbr }}
                    </address>
                </div>
                <div class='span4'>
                    <div id='next-event-map'></div>
                </div>
            </div>
        </div>
    </div>

    <div class='row section'>
        <div class='container'>
            <div class='row'>
                <h2 class='span12'>Latest Presentations</h2>
            </div>

            {% for presentation in latest_presentations %}
                <div class='row'>
                    <div class='span2'>
                        {% if presentation.twitter_handle %}
                            <img src='https://api.twitter.com/1/users/profile_image?screen_name={{ presentation.twitter_handle }}&size=bigger' class='avatar'>
                        {% else %}
                            <img src='{{ STATIC_URL }}/images/no-avatar.jpg' class='avatar'>
                        {% endif %}
                    </div>

                    <div class='span10'>
                        <div class='row'>
                            <span>{{ presentation.title }}</span>
                        </div>
                        <div class='row'>
                            Details
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id='hosting-companies' class='row buffer section'>
        <div class='container'>
            <div class='row'>
                <div class='span12'>
                    <span class='section-header'>Are you interested in hosting a meetup?</span>
                </div>
            </div>
            <div class='row'>
                <div class='span8 offset2'>
                    <p class='info'>
                        Hosting a Django Toronto meetup is easy - just provide a venue, some snacks, beverages and most
                        importantly some talks.
                    </p>
                </div>
            </div>
            <div id='badges' class='row'>
                <div class='span12'>
                    <div class='row'>
                        <div class='span3'><img src='{{ STATIC_URL }}images/icons/noun_project_921_building.svg' alt='Venue' class='badge'></div>
                        <div class='span3'><img src='{{ STATIC_URL }}images/icons/noun_project_7914_food.svg' alt='Food' class='badge'></div>
                        <div class='span3'><img src='{{ STATIC_URL }}images/icons/noun_project_634_beverage.svg' alt='Refreshments' class='badge'></div>
                        <div class='span3'><img src='{{ STATIC_URL }}images/icons/noun_project_3059_presentation.svg' alt='Presentations' class='badge'></div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='span8 offset2'>
                    <p class='info'>
                        Join the growing list of Toronto companies that give back to the community by hosting
                        the meetup.
                    </p>
                </div>
            </div>
            <div class='row'>

            </div>
        </div>
    </div>

{% endblock %}
