body {
    color: #4A4A4A;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/backgrounds/master-bg2.png");
}

.sub {
    font-weight: 300;
}

.invisible {
    opacity: 0;
}

// todo: figure out how to do this
/*h2 i [class^="icon-"], [class*=" icon-"] {
    vertical-align: 25%;
}
*/


#top-bar {
    border-bottom: 1px solid #E0E0E0;

}

#home-logo {
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
}

#top-bar .navbar-inner {
    background-color: #FEFEFE;
    background-image: none;
    height: 55px;
}

#top-bar .nav > li > a {
    color: #0088CC;
    text-shadow: none;
    padding-top: 18px;
}

#top-bar .nav > li > a:hover {
    color: #005580;
}

#topbar a.btn {
    color: #FFFFFF;
    margin-top: 4px;
    padding: 5px 14px 6px;
}

#top-bar ul.nav {
    float:right;
}

.hero {
    padding: 50px 0;
    background: url("../images/backgrounds/bg_pixels.png");
    height: 400px;
}

#main-logo {
    margin: 30px auto;
    display: block;
}

#main-content {
}

#next-event-map {
    height: 200px;
}

.event-list-map {
    height: 150px;
}

.section {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(255, 255, 255, 0.7);

}

.presentation {
    margin-bottom: 30px;
}

.presentation-bucket {
    background-color: #DEDEDE;
    padding: 15px 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
}

.presentation-bucket .span7 {
    margin-left: 0px;
}

.search {
    height: 36px;
    margin: 18px 0;
}

.search form {
    float: right;
}

.well {
    background-color: #E9E9E9;
}

.popin {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 20px #999999;
    padding: 8px;
    margin: 10px;
}

.next-event-address-info {
    margin-top: 20px;
}

.top-pagination {
    padding-top: 60px;
}

.event-presentation-list {
    margin: 27px 0;
}

ul.event-presentation-list {
    background-color: #DEDEDE;
    padding: 15px 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
    list-style: none;
}

ul.add-to-calendar-list {
    margin: 0;
    list-style: none;
}

ul.add-to-calendar-list li {
    padding: 0 0 0 27px;
}

.google-calendar {
    background: url("../images/icons/google_calendar.png") no-repeat 0% 50%;
}

.plancast {
    background: url("../images/icons/plancast.png") no-repeat 0% 50%;
}

@media (max-width: 480px) {
    #home-logo {
        display: none;
    }
}
