body {
    color: #4A4A4A;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/backgrounds/master-bg2.png");
}

#top-bar {
    border-bottom: 1px solid #E0E0E0;

}

#top-bar .navbar-inner {
    background-color: #FEFEFE;
    background-image: none;
    height: 50px;
}

#topbar a.btn {
    color: #FFFFFF;
    margin-top: 4px;
    padding: 5px 14px 6px;
}


#top-bar ul.nav {
    float:right;
}

.hero {
    padding: 50px 0;
    background: url("https://s3-us-west-1.amazonaws.com/images.path.com/static/covers/8/web.jpg") no-repeat;
    background-size: cover;
    height: 400px;
    background-position: 50% 50%;
    width: 100%;
}


#main-content {
    padding-top: 80px;
}

.section {
    padding-bottom: 35px;
}

.presentation {
    margin-bottom: 30px;
}

.presentation-bucket {
    background-color: #DEDEDE;
    padding: 15px 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
}

.presentation-bucket .span7 {
    margin-left: 0px;
}

.search {
    height: 36px;
    margin: 18px 0;
}

.search form {
    float: right;
}

.well {
    background-color: #E9E9E9;
}
