h1 {
    padding: 10px 0;
}

#id_message {
    width: 100%;
    height: 100px;
    resize: none;
}

.form-fields-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 10px;
}

.submit-section {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}