#hero-background {
    background-image: url("../images/4.jpg");
}

#hero {
    margin-top: 200px;
    text-align: center;
}

#hero h1 {
    font-weight: 900;
    text-shadow: 0 0 1px rgba(0,0,0,0.8),0 0 35px rgba(0,0,0,0.5);
}

#hero p {
    color: #fff;
    font-size: 16px;

}

#logo {
    margin: auto;
    width: 600px;
    display: block;
    padding-bottom: 30px;
}

#main-content h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

#next-event-map {
    height: 220px;
    border: 1px;
}

#hosting-companies {

}

#venue {
    text-align: right;
}

.cover {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 685px;
}

#newsletter-signup {
    text-align: center;
    background-color: #555;
    color: #cddf58;
}

.info {
    font-size: 20px;
    font-weight: 200;
}

.section {
    padding: 35px 0;
}

h2.section-header {
    font-weight: 100;
}

.presentation-row {
    padding-bottom: 25px;
}

#badges {
    margin: 50px 0;
}

.badge {
    padding: 35px;
    border-radius: 500px;
    background-color: #bac151;
    width: 140px;
    height: 140px;
}

.avatar {
    width: 73px;
    height: 73px;
}

.presentation-author {
    text-align: center;
}

h3.presentation-title {
    font-weight: 100;
}

#upcoming-event {
    /*background-color: #4A8727;*/
    /*color: #fff;*/
}

#hosting-companies {
    text-align: center;
    background-color: #555;
    color: #fdb813;
}
