#hero-background {
    background-image: url("../images/4.jpg");
}

#hero {
    margin-top: 200px;
    text-align: center;
}

#hero h1 {
    font-weight: 900;
    text-shadow: 0 0 1px rgba(0,0,0,0.8),0 0 35px rgba(0,0,0,0.5);
}

#hero p {
    color: #fff;
    font-size: 16px;

}

#logo {
    margin: auto;
    width: 600px;
    display: block;
    padding-bottom: 30px;
}

.cover {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 685px;
}

#main-content h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

#next-event-map {
    height: 220px;
    border: 1px;
}

#venue {
    text-align: right;
}

#newsletter-signup {
    text-align: center;
    background-color: #555;
    color: #cddf58;
}

#upcoming-event {
    /*background-color: #4A8727;*/
    /*color: #fff;*/
}

.hosting-header {
    text-align: center;
}

#hosting-companies {
    background-color: #555;
    color: #cddf58;
}

.checklist {
    color: #eee;
    list-style-type: none;
    font-size: 17.5px;
    font-weight: bold;
}

.checklist li {
    padding-bottom: 10px;
}
